<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="hello.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="hello.js"></script>
	</head>
	<body>
		<div ng-app="app">
			<table>
				<tr>
					<th align="center"><h1>Customers</h1></th>
					<th align="center"><h1>Orders</h1></th>
					<th align="center"><h1>Items</h1></th>
				</tr>
				<tr>
					<td>
						<div ng-controller="custsCtrl">
							<table>
				  				<tr ng-repeat="p in person">
				  					<td><a ng-href="{{ p._links.self.href }}">{{ $index + 1 }}</a></td>
				    				<td>{{ p.firstName }}</td>
				    				<td>{{ p.lastName }}</td>
				    				<td><a ng-href="{{ p._links.self.href +'/orders' }}">Orders</a></td>
				  				</tr>
				  				<tr>
					  				<td align="center" colspan="4"><a ng-href="{{ personsearch }}">Search</a></td>
				  				</tr>
							</table>
						</div>
					</td>

					<!-- add ing this comment into the html -->
					<!-- and this too -->


					<td>
						<div ng-controller="ordersCtrl">
							<table>
								<tr ng-repeat="o in orders">
									<td><a ng-href="{{ o._links.self.href }}">{{ $index + 1 }}</a></td>
				    				<td>{{ o.orderType }}</td>
				    				<td>{{ '£'+ o.totalPrice }}</td>
				    				<td><a ng-href="{{ o._links.self.href +'/person' }}">Customer</a></td>
				    				<td><a ng-href="{{ o._links.self.href +'/items'}}">Items</a></td>
				  				</tr>
				  				<tr>
					  				<td align="center" colspan="5"><a ng-href="{{ orderssearch }}">Search</a></td>
				  				</tr>
				  			</table>
						</div>
					</td>
					<td>
						<div ng-controller="itemsCtrl">
							<table>
								<tr ng-repeat="i in items | orderBy : 'productName'">
									<td><a ng-href="{{ i._links.self.href }}">{{ $index + 1 }}</a></td>
				    				<td>{{ i.productName }}</td>
				    				<td>{{ '£'+ i.unitPrice }}</td>
				    				<td><a ng-href="{{ i._links.self.href +'/orders' }}">Orders</a></td>
				  				</tr>
				  				<tr>
					  				<td align="center" colspan="4"><a ng-href="{{ itemssearch }}">Search</a></td>
				  				</tr>
				  			</table>
				 		</div>
					</td>
				</tr>
			</table>
			<div ng-controller="specialCtrl">
				<h1>{{ msg }}</h1>
 			</div>
		</div>
	</body>
</html>